<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Farmer's Market</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <div class="header-nav">
            <div class="nav-wrapper">
                <div class="brand-logo">
                    <div class="farmers-market roboto-medium-white-16px">
                        FARMERS MARKET
                    </div>
                </div>
                <div class="nav-links-wrapper">
                    <div class="home roboto-normal-white-16px">Home</div>
                    <div class="about-us roboto-normal-white-16px">About Us</div>
                    <div class="contact-us roboto-normal-white-16px">Contact Us</div>
                </div>
                <div class="frame-1">
                    <button class="green-btn roboto-normal-white-16px">Login</button>
                    <button class="green-btn roboto-normal-white-16px">Sign Up</button>
                </div>
            </div>
        </div>
    </header>

    <section id="hero">
        <div class="hero">
            <div class="overlap-hero-group">
                <div class="one-liner">
                    <div id="buy-local-text valign-text-middle">Buy Local.<br>Support Small Businesses.</div>
                </div>
            </div>
        </div>
    </section>


    <main>
        {{!-- <div class="hero">
            <div id="hero-img">
                <img id="hero-img" src="/images/fruits-veggies.png" alt="Vendors and customers at the farmer's market.">
            </div>
        </div>
        <div class="our-vendors">
            {{{ body }}}
        </div>
         --}}
    </main>

    <footer>
        <div class="footer-nav">
            <div>
                <p id="made-with-love" class="roboto-medium-white-16px">Made with ❤️ by Alecia, Ryan and Fidel</p>
            </div>
            <div class="footer-nav-links-wrapper">
                <div class="my-footer-links roboto-normal-white-16px">FAQ</div>
                <div class="my-footer-links roboto-normal-white-16px">Legal</div>
                <div class="my-footer-links roboto-normal-white-16px">Social Media</div>
            </div>
        </div>
    </footer>

</body>

</html>