<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Farmer's Market</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!-- header nav bar -->

    {{!-- TODO: Need to hide buttons if logged in/logged out --}}
    <header>
        <!-- logo -->
        <h1 class="logo">FARMERS MARKET</h1>
        <!-- nav links -->
        <div id="header-right-items">
            <nav>
                <ul class="nav-links">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            <!-- button -->
            <div id="nav-btns">
                <a class="login-button" href="#"><button>Login</button></a>
                <a class="login-button" href="#"><button>Sign Up</button></a>
                <a class="login-button" href="#"><button>Logout</button></a>
            </div>
        </div>

    </header>
    
    <!-- footer -->
    <footer>
        <!-- created by info -->
        <h3>Made with ❤️ by Alecia, Ryan and Fidel</h3>
        <div id="footer-right-items">
            <nav>
                <ul class="footer-nav-links">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Social Media</a></li>
                </ul>
            </nav>
        </div>

    </footer>

</body>

</html>