<!-- STORES Template -->
<!-- Stores Page Title -->
<section class="store-light-green-container">
    <div class="container" id="store-dark-green-container">
        <div class="row" id="stores-title-container">
            <h2 id="stores-title">STORES</h2>
        </div>
    </div>
</section>

<!-- Individual Stores -->
<!-- TODO: Make this section responsive -->
<section class="container large-light-green-container">
    <!-- INDIVIDUAL STORES ARE GOING TO NEED TO BE A PARTIAL -->
    <!-- TODO: When handlebars is ready to go, create a partials folder for the store partial -->
    <div class="row">
        <div class="col">
            <div class="store-info">
                <img class="description store-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Store Name:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Store</button></a>
            </div>
            <div class="store-info">
                <img class="description store-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Store Name:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Store</button></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="store-info">
                <img class="description store-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Store Name:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Store</button></a>
            </div>
            <div class="store-info">
                <img class="description store-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Store Name:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Store</button></a>
            </div>
        </div>
    </div>
</section>