<!-- DASHBOARD Title -->
<section class="store-light-green-container">
    <div id="store-dark-green-container">
        <div id="stores-title-container">
            <h2 id="stores-title">DASHBOARD</h2>
        </div>
    </div>
</section>
<!-- CREATE SECTION -->
<section class="large-light-green-container">
    <div class="container">
        <p class="section-heading">CREATE</p>
        <div class="row">
            <div class="col create-btns">
                <a class="description view-store-button" href="/stores/"><button>Create New Store</button></a>
                <a class="description view-store-button" href="#"><button>Create New Product</button></a>
            </div>
        </div>
    </div>
</section>

<!-- USER'S STORES SECTION -->
{{#if stores.length}}
<section class="large-light-green-container">
    <div class="container">
        {{#each stores as |store|}}
        <p class="section-heading">YOUR STORES</p>
        <div class="col store-info">
            {{!-- TODO: Render a user's Store Photo --}}
            <img class="description store-img" src="">
            <p class="description">Store Name: {{store.store_name}}</p>
            <p class="description">Categories: {{store.categories}}</p>
            <a class="description view-store-button" href="#"><button>View Store</button></a>
            </div>
        </div>
        {{/each}}
    </div>
</section>
{{/if}}


{{!-- ====== Hard Coded Stores - Comment This Out======== --}}
<section class="large-light-green-container">
    <div class="container">
        <p class="section-heading">YOUR STORES</p>
        <div class="row my-stores justify-content-center">
            <div class="col store-info">
                <img class="description store-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Store Name:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Store</button></a>
            </div>
            <div class="col store-info">
                <img class="description store-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Store Name:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Store</button></a>
            </div>

            <div class="col store-info">
                <img class="description store-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Store Name:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Store</button></a>
            </div>
            <div class="col store-info">
                <img class="description store-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Store Name:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Store</button></a>
            </div>
        </div>
    </div>
</section>

<!-- USER'S PRODUCTS SECTION -->
<section class="large-light-green-container">
    <div class="container">
        <p class="section-heading">YOUR PRODUCTS</p>
        <div class="row justify-content-center my-products">
            <div class="col product-info">
                <img class="description product-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Procuct Name:</p>
                <p class="description">$__</p>
                <p class="description">Store:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Procuct</button></a>
            </div>
            <div class="col product-info">
                <img class="description product-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Procuct Name:</p>
                <p class="description">$__</p>
                <p class="description">Store:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Procuct</button></a>
            </div>
            <div class="col product-info">
                <img class="description product-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Procuct Name:</p>
                <p class="description">$__</p>
                <p class="description">Store:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Procuct</button></a>
            </div>
            <div class="col product-info">
                <img class="description product-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Procuct Name:</p>
                <p class="description">$__</p>
                <p class="description">Store:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Procuct</button></a>
            </div>
            <div class="col product-info">
                <img class="description product-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Procuct Name:</p>
                <p class="description">$__</p>
                <p class="description">Store:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Procuct</button></a>
            </div>
        </div>
    </div>
</section>