<!-- hero -->
<section id="hero">
    <div class="hero">
        <div class="overlap-hero-group">
            <div id="one-liner">
                <div class="buy-local-text valign-text-middle">Buy Local.<br>Support Small Businesses.</div>
            </div>
        </div>
    </div>
</section>