@import url("https://fonts/googleapis.com/css?family=Roboto:400,800italic,500,800|Josefin+Slab:600italic,400,600");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* font colors */
    --primary: #019D78;
    --secondary: #019D7833;
    --tertiary: #F5F5F5;
    --quaternary: #D9D9D9;

    /* font families */
    --font-family-josefin_slab: "Josefin Slab";
    --font-family-roboto: "Roboto";
}

body {
    display: block;
}



/* =======START Header Styles======= */
h1,
li,
a,
button {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

h1,
li,
a,
button {
    font-size: 16px;
}

h1 {
    font-size: clamp(1em, .5em + 10vw, 2em);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}

.logo {
    cursor: pointer;
    letter-spacing: 2.24px;
}

nav {
    align-items: flex-end;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--secondary);
}

#header-right-items {
    display: flex;
    align-items: center;
}

#nav-btns a {
    padding-left: 30px;
    justify-content: space-between;

}

button {
    padding: 9px 25px;
    background-color: var(--primary);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(1, 157, 120, 0.8);
}

/* =======END Header Styles======= */



/* =======START HOMEPAGE STYLES======= */


    /* ===START Hero Section Styles=== */
    #hero {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        width: auto;
        padding: 0px 10% 0px 10%;
        word-wrap: break-word;
        background-image: url(../images/fruits-veggies.png);
        height: 30rem;
        background-size: cover;
    }

    #one-liner {
        align-items: flex-start;
        background-color: #000000c2;
        padding: 1em 2em;
        height: auto;
        width: auto;
        position: absolute;
        top: 20rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .buy-local-text {
        color: white;
        font-family: "Roboto Condensed", sans-serif;
        font-size: clamp(.2em, .5em + 10vw, 1.75em);
        text-align: center;
    }

    /* ===END Hero Section Styles=== */


    /* ===START CTA Section Styles=== */
    .light-green-container {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        width: auto;
        padding: 0px 10% 0px 10%;
        word-wrap: break-word;
        background-color: rgba(0, 157, 119, 0.3);
        height: 30em;
        background-size: cover;
    }

    #dark-green-container {
        position: relative;
        background-color: var(--primary);
        border: 1px;
        border-radius: 24px;
        height: 40%;
        width: 80%;
        top: 3.5em;
        left: 10%;
        transform: (-50%, -50%);
    }

    .cta-items {
        display: flexbox;
        align-content: center;
    }

    .cta-items p {
        margin: 3em;
        font-family: "Roboto Condensed", sans-serif;
        font-size: clamp(.5em, .25em + 10vw, 1em);
        display: flex;
        text-align: center;
    }

    #button-container {
        align-items: center;
        display: flex;
        gap: 1em;
        width: 100%;
        margin: -30px auto;
        padding-left: 10.5em;
    }

    #button-container a button {
        width: 100%;
        align-items: center;
        background-color: black;
    }

    /* TODO: make these buttons bigger/wider; current style doesn't work */
    #login-button,
    #sign-up-button {
        font-size: xx-large;
    }

    /* ===END CTA Section Styles=== */


    /* ===START Featured Vendors Styles=== */
    #light-grey-container {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        width: auto;
        padding: 7em 5% 7em 5%;
        word-wrap: break-word;
        background-color: var(--tertiary);
        height: 30em;
        background-size: cover;
    }

    .feat-ven {
        display: contents;
    }

    .feat-ven-description-left {
        display: flex;
        width: auto;
        height: 15em;
        padding-left: 5em;
        align-items: center;
        text-align: justify;
    }

    .feat-ven-photo {
        width: 16em;
        height: 16em;
        border-radius: 24px;
    }

    #dark-grey-container {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        width: auto;
        padding: 7em 5% 7em 5%;
        word-wrap: break-word;
        background-color: var(--quaternary);
        height: 30em;
        background-size: cover;
    }

    .feat-ven-description-right {
        display: flex;
        width: auto;
        height: 15em;
        padding-right: 5em;
        align-items: center;
        text-align: justify;
    }

    /* ===END Featured Vendors Styles=== */


    /* TODO: Need Help moving the circles to the middle, and moving the featured products titile to the center */
    /* ===START Featured Products Styles=== */
    h2 {
        display: flex;

    }

    #feat-prod-circles {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    #feat-prod-circles img {
        width: 15em;
        height: 15em;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        padding: .5em;
    }

    /* ===END Featured Products Styles=== */


/* =======END HOMEPAGE STYLES======= */



/* =======START STORES Page Styles======= */
#stores-title {
    font-family: "Roboto", sans-serif;
    letter-spacing: 2.24px;
    font-weight: 300;
    font-style: italic;
    font-size: clamp(3em, .1em + 10vw, 5em);
    justify-content: center;
}

.store-light-green-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    padding: 0px 10% 0px 10%;
    background-color: rgba(0, 157, 119, 0.3);
    height: 14em;
    background-size: cover;
    flex-direction: row;
    justify-content: space-around;
}

#store-dark-green-container {
    position: relative;
    background-color: #009d77a1;
    border: 1px;
    border-radius: 24px;
    height: 40%;
    width: 80%;
    top: 3.5em;
    transform: (-50%, -50%);
}

.large-light-green-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    padding: 0px 10% 0px 10%;
    background-color: rgba(0, 157, 119, 0.3);
    height: auto;
    background-size: cover;
    flex-direction: row;
    justify-content: space-around;
}


.store-img {
    width: 16em;
    height: 16em;
    border-radius: 24px;
}

.store-info {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2em;
}
/* =======END STORES Page Styles======= */



/* =======START PRODUCTS Page Styles======= */
.description {
    margin: 10px;
}
/* =======END PRODUCTS Page Styles======= */


/* =======START CREATE STORE/PRODUCT Section Styles======= */
.form-to-add {
    background-color: rgba(92, 92, 92, 0.414);
    padding: 5em;
    border-radius: 24px;
    width: auto;
    position: relative;
    margin-bottom: 2em;
}

label {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: clamp(.5em, .25em + 10vw, 1em);
}
/* =======END CREATE STORE/PRODUCT Section Styles======= */



/* =======START Footer Section Styles======= */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}

h3 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 16px;
}

#footer-right-items {
    display: flex;
    align-items: center;
}

.footer-nav-links li {
    display: inline-block;
}

.footer-nav-links li a {
    transition: all 0.3s ease 0s;
}

.footer-nav-links li a:hover {
    color: green;
}

.footer-nav-links a {
    padding: 0 0 0 30px;
    justify-content: space-between;
}

/* =======END Footer Section Styles======= */



/* =======START Media Queries======= */
@media(max-width: 600px) {
    .cta-items p {
        margin: 18px;
        text-align: center;
    }

    #button-container {
        display: inline-grid;
        row-gap: 1em;
        width: fit-content;
        margin: 10px 44px;
        padding: 0;
    }

    #button-container a button {
        width: 100%;
        align-items: center;
    }

    .feat-ven {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .feat-ven-photo {
        /* align-items: center; */
        width: 8em;
        height: 8em;
    }
}
/* =======END Media Queries======= */